.caracteristicas {
    background-color: #F7F7F7;
    padding: 2rem 1rem;
    text-align: center;

    &__card {
        background-color: #FFFFFF;
        border-radius: 6px;
        border: 1px solid #E8E9ED;
        margin: 1rem auto;
        width: 95%;
        max-width: 400px;
        display: inline-block;
        text-align: left;
    }

    &__iconos {
        max-width: 258px;
        min-width: 258px;
        margin: 0 auto;
        margin-top: 2.2rem;
    }

    &__iconosfull {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    &__dispositivolap {
        margin: 0 auto 1rem;
        z-index: 1;
        margin-top: 10px;
        position: relative;
        display: block;

        @media only screen and (min-width: 1000px) {
            content: url('../images/LaptopGrande.png');
        }
    }

    &__bolaroja {
        margin: 0 auto 1rem;
        z-index: 0;
        margin-top: -150px;
        margin-bottom: 60px;
        margin-right: 26px;
        display: block;

        @media only screen and (min-width: 1000px) {
            content: url('../images/Cuadrado.png');
        }
    }

    &__dispositivomov {
        margin: 0 auto 1rem;
        z-index: 1;
        margin-left: 65px;
        position: relative;
        display: block;

        @media only screen and (min-width: 1000px) {
            content: url('../images/MovilGrande.png');
        }
    }

    &__bolaazul {
        margin: 0 auto 1rem;
        z-index: 0;
        margin-top: -160px;
        margin-bottom: 40px;
        display: block;

        @media only screen and (min-width: 1000px) {
            content: url('../images/PelotaAzul.png');
        }
    }

    &__trompeta {
        margin: 0.7rem auto;
        margin-bottom: -14.4rem;
        margin-left: -1rem;
        z-index: 1;
        position: relative;
        display: block;

        @media only screen and (min-width: 1000px) {
            content: url('../images/TrompetaEscritorio.png');
        }
    }

    &__fondoverde {
        width: 100%;
        margin: 0 auto;
        z-index: 0;
        margin-top: -210px;
        display: block;

        @media only screen and (min-width: 1000px) {
            content: url('../images/FondoVerdeEscritorio.png');
        }
    }

    &__titleredcard {
        font-family: Raleway;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.3rem;
        margin-left: 1.3rem;
        margin-right: 2.3rem;
        color: #000000;
    }

    &__titlebluecard {
        width: 200px;
        font-family: Raleway;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.3rem;
        margin-left: 1.3rem;
        margin-right: 2.3rem;
        color: #000000;
    }

    &__titlegreencard {
        font-family: Raleway;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 1.5rem;
        margin-bottom: 1.3rem;
        margin-left: 1.3rem;
        margin-right: 2.3rem;
        color: #000000;
    }

    &__descriptionredcard {
        font-family: Open Sans;
        font-size: 0.9rem;
        color: #000000;
        line-height: 1.6;
        margin-left: 1.3rem;
        margin-right: 2.3rem;
        margin-bottom: 1.8rem;
    }

    &__descriptionbluecard {
        font-family: Open Sans;
        font-size: 0.9rem;
        color: #000000;
        line-height: 1.6;
        margin-left: 1.3rem;
        margin-right: 2.3rem;
        margin-bottom: 1.8rem;
    }

    &__descriptiongreencard {
        font-family: Open Sans;
        font-size: 1rem;
        color: #000000;
        line-height: 1.6;
        margin-left: 1.3rem;
        margin-right: 2.3rem;
        margin-bottom: 2.3rem;
    }

    @media only screen and (min-width: 1000px) {
        &__card {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 1rem auto;
            width: 100%;
            max-width: 1000px;
            text-align: left;
            margin-top: 3rem;
        }

        &__contenidorojo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: -8rem;
        }

        &__contenidoazul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: -8rem;
        }

        &__contenidoverde {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: -8rem;
        }

        &__iconos {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__dispositivolap{
            display: block;
            margin-left: 10rem;
            margin-top: 12rem;
        }

        &__dispositivomov{
            display: block;
            margin-left: -20rem;
            margin-top: 7rem;
            margin-bottom: 5.5rem;
        }

        &__trompeta{
            display: block;
            margin-left: 40.5rem;
            margin-top: 12rem;
        }

        &__bolaroja {
            display: block;
            margin-left: 20rem;
            margin-top: -19rem;
            margin-bottom: 5rem;
        }

        &__bolaazul {
            display: block;
            margin-left: -20rem;
            margin-top: -26.7rem;
            margin-bottom: 2rem;
        }

        &__fondoverde {
            width: 40%;
            display: block;
            margin-left: 37.5rem;
            margin-top: -17.1rem;
        }

        &__textrojo {
            position: absolute;
            width: 400px;
            text-align: left;
            margin-top: 7rem;
            margin-left: 1rem;
        }

        &__descriptionredcard {
            width: 380px;
        }

        &__linearoja {
            background-color: #FB3B64;
            height: 0.27em;
            width: 70%;
            margin-left: 1.2rem;
        }

        &__textazul {
            position: absolute;
            width: 400px;
            text-align: left;
            margin-top: 7rem;
            margin-left: 36.25rem;
        }

        &__titlebluecard {
            width: 250px;
        }

        &__descriptionbluecard {
            width: 380px;
        }

        &__lineaazul {
            background-color: #08A6E4;
            height: 0.27em;
            width: 75%;
            margin-left: 1.2rem;
        }

        &__textverde {
            position: absolute;
            width: 400px;
            text-align: left;
            margin-top: 7rem;
            margin-left: 1rem;
        }

        &__titlegreencard {
            width: 300px;
        }

        &__descriptiongreencard {
            width: 430px;
        }


        &__lineaverde {
            background-color: #55DFB4;
            height: 0.27em;
            width: 82%;
            margin-left: 1.2rem;
        }
    }
}
