.contacto-form {
  text-align: left;
  padding: 2rem 1rem;
  margin: -50px auto;
  margin-left: 16px;
  margin-right: 16px;
  max-width: 600px;

  &__title {
    font-size: 2.4rem;
    font-family: Raleway;
    font-weight: 500; 
    color: #000000;
    margin-bottom: 0.1rem;
  }

  &__subtitle {
    font-size: 0.95rem;
    font-family: Open Sans;
    color: #000000;
    margin-bottom: 2rem;
  }

  &__info {
    display: block;
  }

  &__email,
  &__phone {
    display: block;
    font-size: 1rem;
    font-family: Open Sans;
    color: #A5A5A5;
    font-weight: 500;
    margin: 0.5rem 0;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  &__inputs {
    text-align: left;
    margin-top: 3rem;
  }

  &__label {
    display: block;
    font-size: 0.75rem;
    font-family: Open Sans;
    letter-spacing: 0.20em;
    color: #08A6E4;
  }

  &__checkbox {
    position: relative;
    margin-top: 1rem;
    padding-left: 30px;
  }

  &__cuadrado {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    }

   &__description {
    display: inline-block;
    margin: 0;
    padding-left: 2x;
    font-size: 0.7rem;
    font-family: Open Sans;
    color: #707070;
    line-height: 1.5;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #95989A;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    outline: none;
  }

  &__submit {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    padding: 1.2rem 6rem;
    background-color: #08A6E4;
    color: white;
    box-shadow: 0 8px 8px #07ACE64A;
    font-size: 0.8rem;
    font-family: Open Sans;
    font-weight: bold;
    border: none;
    border-radius: 37px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  @media only screen and (min-width: 1000px) {

    margin-left: auto;
    margin-right: auto;
    max-width: 1000px; 

    &__contenedorprincipal {
      display: flex;
      margin-top: 3rem;
      justify-content: space-around; 
      align-items: flex-start; 
      gap: 2rem; 
      margin: auto;
      max-width: 1400px;
      width: 100%;
    }

    &__info {
      display: inline;
      width: 100%;
      text-align: left;
      margin-top: 5rem;
    }

    &__title {
      font-size: 3rem;
      font-family: Raleway;
      font-weight: 500;
      color: #000000;
      margin-bottom: 1.2rem;
    }
  
    &__subtitle {
      font-size: 0.95rem;
      font-family: Open Sans;
      color: #000000;
      margin-bottom: 2rem;
    }

    &__email,
  &__phone {
    display: inline-block;
    font-size: 1rem;
    font-family: Open Sans;
    color: #A5A5A5;
    font-weight: 500;
    margin: 0.5rem 0;
  }

  &__phone {
    margin-left: 1.2rem;
  }

    &__inputs {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 5rem;
    }
  }
}