.estadisticas {
    text-align: center;
    padding: 0.5rem 1rem;
    
    &__title {
        font-family: Raleway;
        font-size: 1.9rem;
        font-weight: 500;
        margin-bottom: 2rem;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__iconos {
        max-width: 258px;
        min-width: 258px;
        margin: 0 auto;
    }

    &__item {
        display: inline-block;
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
        position: relative;
    }

    &__circulo {
        margin: 0 auto 1rem;
        z-index: 0;
        position: relative;
        display: block;
    }

    &__persona {
        margin: 0 auto 1rem;
        z-index: 1;
        margin-top: -77px;
        margin-bottom: 25px;
        margin-right: 86px;
        position: relative;
        display: block;
    }

    &__ojo {
        margin-top: -68px;
        margin-bottom: 1.8rem;
        margin-left: 117px;
        position: relative;
        display: block;
    }

    &__post {
        margin-top: -72px;
        margin-bottom: 1.8rem;
        margin-left: 130px;
        position: relative;
        display: block;
    }

    &__number {
        font-size: 1.3rem;
        font-family: Raleway;
        font-weight: bold;
        display: block;
        letter-spacing: 0.25em;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    &__label {
        color: #A5A5A5;
        font-family: Raleway;
        font-size: 1rem;
    }

    @media only screen and (min-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;

        &__title {
            font-size: 2.2rem;
            margin-bottom: 2.5rem;
        }

        &__item {
            display: flex;
            flex-direction: column;
            margin: 0 1rem;
            text-align: center;
        }

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 2rem auto;
            max-width: 1000px;
            width: 100%;
        }

        &__label {
            text-align: center;
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }
}