.header {
    position: fixed;
    padding: 1.1rem;
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px #0000004A;
    width: 100%;
    z-index: 999;

    &__logo {
        color: #08A6E4;
        font-family: Raleway;
        font-size: 2rem;
        font-weight: 400;
    }

    &__menu {
        display: none;
        list-style: none;
        

        li {
            display: inline-block;
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: #A5A5A5;
                font-family: Open Sans;
                font-weight: 500;
                font-size: 0.7rem;
                letter-spacing: 0.25em;
                margin-left: 2rem;
                margin-right: 4rem;

                &:hover {
                    color: #000000;
                    font-weight: bold;
                    padding-bottom: 27px;
                    border-bottom: 3px solid #08A6E4;
                }
            }
        }
    }

    &__menu-button {
        position: absolute;
        background: none;
        top: 50%;
        right: 25px;
        border: none;
        color: #07ACE6;
        cursor: pointer;
    }

    &__menu.active {
        padding-top: 1rem;
        display: block;

        li {
            display: block;
            margin-bottom: 0.5rem;
            margin-left: -1rem;
            
            a {
                text-decoration: none;
                color: #A5A5A5;
                font-family: Open Sans;
                font-weight: 500;
                font-size: 0.8rem;
                letter-spacing: 0.25em;

                &:hover {
                    color: #000000;
                    font-weight: bold;
                    border-bottom: none;
                }
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__menu-button {
            display: none;
        }

        &__menu {
            display: flex;
        }
    }
}