.header {
    position: relative;
    padding: 1.1rem;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 2px 6px #0000004A;
    width: 100%;
    
    &__logo {
        color: #08A6E4;
        font-family: Raleway;
        font-size: 2rem;
        display: inline-block;
        font-weight: 400;
    }

    &__menu-button {
        position: absolute;
        background: none;
        top: 50%;
        right: 25px;
        border: none;
        color: #07ACE6;
        cursor: pointer;
    }
}

.main-content {
    max-width: 1000px;
    margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
    .main-content {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .estadisticas {
        display: flex;
        justify-content: space-around;

        &__item {
            width: 30%;
            margin-bottom: 0;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}