.newsletter-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; 
}

.newsletter-modal {
    width: 60%;
    max-width: 400px;
    border: none;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e0dfdf;
    z-index: 1000;
}

h2 {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1.5rem;
}

.newsletter-content {
    position: relative;
}

.close-button {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

.close-button img {
    width: 30px;
    height: 30px;
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

input {
    font-family: 'Raleway', sans-serif;
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 80%;
    max-width: 300px;
}

button[type="submit"] {
    font-family: 'Raleway', sans-serif;
    background-color: #08A6E4;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0683b4;
}

#thank-you-message {
    margin-top: 1rem;
    color: green;
    font-weight: bold;
}