.precios {
    text-align: center;
    padding: 2rem 1rem;
}

.precios__title {
    font-family: Raleway;
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
}

.precios__currency-label {
    font-family: Raleway;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.precios__currency-selector {
    font-family: Raleway;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid;
    border-image: linear-gradient(90deg, #FB3B64, #07ACE64A, #55DFB4) 1;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.precio-cards {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.precio-card {
    position: relative;
    padding: 2rem;
    border: 2px solid;
    border-radius: 17px;
    background-color: #FFFFFF;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 60px;
}

.precio-card.basic:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 20px #FB3B64;
    .precio-card__button {
        box-shadow: 0 4px 20px #FB3B64;
    }
}

.precio-card.professional:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 20px #07ACE64A;
    .precio-card__button {
        box-shadow: 0 10px 20px #07ACE64A;
    }
}

.precio-card.premium:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 20px #55DFB4;
    .precio-card__button {
        box-shadow: 0 4px 20px #55DFB4;
    }
}

.precio-card__paquete {
    position: absolute;
    top: 6rem;
    left: 1rem;
    text-align: center;
}

.precio-card__planBasic {
    font-family: Raleway;
    font-size: 1.3rem;
    text-align: center;
    color: #13253B;
    font-weight: bold;
    margin-top: -30px;
}

.precio-card__planProfessional {
    font-family: Raleway;
    font-size: 1.3rem;
    text-align: center;
    color: #13253B;
    font-weight: bold;
    margin-top: -30px;
    margin-left: 0px;
}


.precio-card__planPremium {
    font-family: Raleway;
    font-size: 1.3rem;
    text-align: center;
    color: #13253B;
    font-weight: bold;
    margin-top: -30px;
    margin-left: -10px;
}


.precio-card__price {
    font-family: Open Sans;
    font-size: 2.8rem;
    font-weight: 100;
    display: block;
}

.precio-card__price span {
    font-size: 0.8rem;
    font-weight: bold;
    color: #13253B;
    display: block;
    margin-top: -5px;
}

.precio-card__features {
    list-style-type: none;
    padding: 0;
    margin-top: -30px;
    margin-bottom: 1.5rem;
    text-align: left; 
    position: relative;
    left: 3.8rem;
    display: inline-block;
}

.precio-card__features li {
    font-family: Open Sans;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-top: 1.2rem;
    color: #000000;
    padding-left: 1.7rem;
}

.precio-card__button {
    display: inline-block;
    padding: 1rem 3.6rem;
    border: none;
    border-radius: 50px;
    font-family: Open Sans;
    font-size: 0.9rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #EB476E;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.basic {
    border-color: #FB3B64;
}

.basic .precio-card__price {
    color: #FB3B64;
}

.basic .precio-card__button {
    background-color: #FB3B64;
}

.professional {
    border-color: #07ACE6;
}

.professional .precio-card__price {
    color: #07ACE6;
}

.professional .precio-card__button {
    background-color: #07ACE6;
}

.premium {
    border-color: #55DFB4;
}

.premium .precio-card__price {
    color: #55DFB4;
}

.premium .precio-card__button {
    background-color: #55DFB4;
}

.precio-card__features li span {
    color: #55DFB4;
    text-align:center;
    margin-right:3px;
    font-size: 1rem;
}

.precio-card__features li.unavailable span{
    text-align:center;
    font-size: 1rem;
    margin-right:3px;
    color: #EB476E;
}

@media only screen and (min-width: 1000px) {
    .precios__currency-label {
        font-family: Raleway;
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }
    
    .precios__currency-selector {
        font-family: Raleway;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-image: linear-gradient(90deg, #FB3B64, #07ACE64A, #55DFB4) 1;
        margin-bottom: 2rem;
        cursor: pointer;
    }

    .precio-cards {
        display: flex;
        margin-top: 3rem;
        justify-content: space-around; 
        align-items: flex-start; 
        gap: 2rem; 
        margin: auto;
        max-width: 1400px;
    }

    .precio-card {
        flex-direction: column; 
        width: 30%; 
    }

    .precio-card__paquete {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 0.5rem;
        margin-bottom: 1rem;
        position: static; 
        margin-top: 2rem;
    }

    .precio-card__features {
        margin-top: 1rem;
        margin-bottom: 3rem;
        left: 0rem;
        text-align: center;
    }

    .precio-card__features li {
        padding-left: 0rem;
    }

    .precio-card__button {
        margin-top: 1rem;
        align-self: center; 
    }

    .precios__title {
        margin-top: 6rem;
        margin-bottom: 1.5rem;
    }

    .precio-card__planProfessional {
        margin-left: 0px;
        margin-bottom: 13px;
    }
    
    
    .precio-card__planPremium {
        margin-left: 0px;
        margin-bottom: 13px;
    }

    .precio-card__planBasic {
        margin-bottom: 13px;
    }

    .precio-card__price span {
        font-size: 0.8rem;
        font-weight: bold;
        color: #13253B;
        display: block;
        margin-top: 10px;
    }

    .precio-card.basic {
        padding-bottom: 58px;
    }
}